@import "materialize.scss";

$occupation-color: color("yellow", "darken-2");
$minor-improvement-color: color("orange", "darken-2");
$major-improvement-color: color("pink", "darken-2");

.occupation-bg {
	background: $occupation-color !important;
}

.minor_improvement-bg {
	background: $minor-improvement-color !important;
}

.major_improvement-bg {
	background: $major-improvement-color !important;
}

.occupation-text {
	color: $occupation-color !important;
}

.minor_improvement-text {
	color: $minor-improvement-color !important;
}

.major_improvement-text {
	color: $major-improvement-color !important;
}

.counter {
	text-align: center;
}
.counter_label {
	display: inline-block;
	text-align: center;
	width: 25%;
}
.counter_number {
	display: inline-block;
	text-align: center;
	width: 15%;
}
.counter_points {
	display: inline-block;
	text-align: center;
	color: grey;
	width: 15%;
}
.btn_inc, .btn_dec {
	width: 15%;
	max-width: 70px;
}
